.header__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    color: white;
    text-decoration: none;
    cursor: pointer;
    
}

.header__link:last-child {
    margin-left: 24px;
}